@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@260&display=swap');

body {
    font-family: "Oswald", Arial;
}

.profile-img {
    border: 3px solid rgb(45, 219, 39);
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img img {
    height: 100%;
}

.week-badge {
    border: 3px solid rgb(94, 94, 94);
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    height: 50px;
    width: 50px;
}

.week-badge.success {
    border: 3px solid rgb(45, 219, 39) !important;
}
